dist/
node_modules/
typings/
#==============================================================================
#
test/mocks/MockBoard.ts
test/mocks/MockPoint.ts
test/mocks/MockSegment.ts
#==============================================================================