dist/
node_modules/
typings/
#==============================================================================
#
test/jsxgraph-mock.ts
#==============================================================================